@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 50%, #f0a1a8 100%);
  background-size: cover;
  background-repeat: no-repeat;
  animation: changeColor 5s infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12rem 0;
}

@keyframes changeColor {
  0% {
    background: linear-gradient(180deg, #b068e9 0%, #6463e7 50%, #f0a1a8 100%);
  }
  25% {
    background: linear-gradient(180deg, #aa63e4 0%, #5c5ce6 50%, #eb757f 100%);
  }
  50% {
    background: linear-gradient(180deg, #9357c4 0%, #5a5ace 50%, #f06470 100%);
  }
  75% {
    background: linear-gradient(180deg, #aa57ee 0%, #5858e4 50%, #ec6d77 100%);
  }
  100% {
    background: linear-gradient(180deg, #9638e4 0%, #5e5edb 50%, #f74958 100%);
  }
}

.desktop {
  display: none;
}

.dek {
  display: none;
}

.box {
  display: none;
}

/*
   Mobile Version 
*/

.container {
  width: 32.7rem;
  background-color: white;
  border-radius: 2.3rem;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.5);
  display: flex;
  flex-direction: column;
  position: relative;
}

.mob {
  width: 24rem;
  position: absolute;
  left: 4rem;
}

.mb {
  width: 24rem;
  position: absolute;
  top: -11rem;
  left: 4rem;
}

.main {
  padding: 11.2rem 2.4rem 4.8rem;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: rgba(30, 31, 54, 1);
  text-align: center;
  margin-bottom: 4rem;
}

.faq {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #e8e8ea;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  color: #4b4c5f;
  font-size: 13px;
}

.answer {
  font-size: 12px;
  line-height: 18px;
  padding-top: 1rem;
  color: #787887;
  display: none;
}
